<div class="row">
  <a class="mt-3 btn btn-primary" href="#" role="button"><%= t ".my_stories" %></a>
  <a class="mt-3 ml-3 btn btn-primary" href="#" role="button"><%= t ".category_manager" %></a>
</div>
<div class="row" id="manager">
  <h4 class="text-center my-3"><%= t ".my_stories" %></h4>
  <div class="row">
    <% @stories.each do |story| %>
      <div class="col-sm-2 mb-4">
      <%= link_to story.chapter_newest, style: "background-image: url(#{story.cover_image.url})", class: "card mb-2" do %>
        <%= link_to story.name, story %><br/>
        <%= link_to_if story.chapter_newest.present?, story.chapter_newest&.name, story.chapter_newest %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="mt-4 row">
    <%= paginate @stories %>
    <a class="ml-3 btn btn-primary" href="/stories/new" role="button"><%= t ".add_story" %></a>
  </div>
</div>
