<li id="comment-<%= comment.id %>" class="clearfix mt-5">
  <%= link_to gravatar_for(comment.user, size: Settings.size_gravatar), comment.user, class: "mr-3 float-left" %>
  <div>
    <p>
      <%= link_to comment.user.name, comment.user %>
      (<%= t "commented" %> <%= time_ago_in_words comment.created_at %> <%= t "ago" %>)
    </p> 
    <p><%= comment.content %></p>
    <p>
      <% if comment.user.current_user? current_user %>
        <%= link_to t("delete"), comment, method: :delete, class: "btn btn-danger ml-3",
          data: {confirm: t("you_sure")} %>
      <% end %>
      <%= link_to t("reply"), new_comment_path(parent_id: comment.id, story_id: comment.story.id), class:"btn btn-primary ml-3", remote: true %>
    </p>
  </div>
</li>
<div class="reply-comment ml-3 mt-3" id="replycomments">
  <% Comment.child_comments(comment.id).each do |comment| %>
    <p><b><%= comment.user.name %>:</b> &nbsp;&nbsp;&nbsp;<%= comment.content %></p>
    <% if comment.user.current_user? current_user %>
        <%= link_to t("delete"), comment, method: :delete, class: "ml-1 text-danger",
          data: {confirm: t("you_sure")} %>
    <% end %>
  <% end %>
</div>
<div class="repcomment-<%= comment.id %>"></div>
