<h3><%= t ".story_information" %></h3>

<%= link_to t(".edit_story"), edit_story_path(@story), class: "btn btn-primary", role: "button", remote: true %>
<%= link_to t(".delete_story"), @story, method: :delete,
  data: {confirm: t(".are_you_sure")}, class: "btn btn-danger", role: "button" %>

<p><%= t ".name_story" %>: <%= @story.name %></p>
<p><%= t ".author" %>: <%= @story.author_name %></p>
<p><%= t ".category" %>: <%= @story.category_info %></p>
<%= image_tag @story.cover_image.url if @story.cover_image? %>
<p><%= t ".description" %></p>
<p><%= @story.description %></p>

<h3><%= t ".list_chapter" %></h3>
<ul id="chapters_item">
  <%= render @chapters %>
</ul>
<%= link_to t(".add_chapter"), new_chapter_path(story_id: @story.id),
  class: "btn btn-primary d-inline", role: "button", remote: true %>
