<h3><%= t ".story_information" %></h3>
<%= link_to t(".edit_story"), edit_story_path(@story), class: "btn btn-primary", role: "button", remote: true %>
<%= link_to t(".delete_story"), @story, method: :delete,
  data: {confirm: t(".are_you_sure")}, class: "btn btn-danger", role: "button" %>
<%= link_to t(".add_chapter"), new_chapter_path(story_id: @story.id),
  class: "btn btn-primary", role: "button", remote: true %>
<p class="mt-3"><span class="label"><%= t ".name_story" %>:</span> <%= @story.name %></p>
<p><span class="label"><%= t ".author" %>:</span> <%= @story.author_name %></p>
<p><span class="label"><%= t ".category" %>:</span> <%= @story.category_info %></p>
<%= image_tag @story.cover_image.url if @story.cover_image? %>
<p class="mt-3"><span class="label"><%= t ".description" %></span></p>
<div class="description-content">
  <%= sanitize @story.description %>
</div>
<div class="btn-more none">
  <div class="button see_more">
    >> <%= t ".view_more" %>
  </div>
</div>
