<h3><%= t ".story_information" %></h3>

<%= link_to t(".edit_story"), edit_story_path(@story), class: "btn btn-primary", role: "button", remote: true %>
<%= link_to t(".delete_story"), @story, method: :delete,
  data: {confirm: t(".are_you_sure")}, class: "btn btn-danger", role: "button" %>
  
<p class="mt-3"><strong><%= t ".name_story" %>:</strong> <%= @story.name %></p>
<p><strong><%= t ".author" %>:</strong> <%= @story.author_name %></p>
<p><strong><%= t ".category" %>:</strong> <%= @story.category_info %></p>
<%= image_tag @story.cover_image.url if @story.cover_image? %>
<p class="mt-3"><strong><%= t ".description" %></strong></p>
<p><%= sanitize @story.description %></p>
