<div class="row mt-3 mb-5">
  <div class="col-md-4 p-3">
    <div id="form_story">
      <%= render "stories/story_description" %>
    </div>
    <div>
      <h3><%= t ".list_chapter" %></h3>
      <ul id="chapters_item">
        <%= render @chapters %>
      </ul>
      <%= link_to t(".add_chapter"), new_chapter_path(story_id: @story.id),
        class: "btn btn-primary", role: "button", remote: true %>
    </div>
  </div>
  <div class="col-md-8 p-3" id="form_chapter">
    <%= render "stories/edit_story_form" %>
  </div>
</div>
