<h4 class="py-4"><%= t ".list_story" %></h3>
<div class="row">
  <div class="col-md-3">
    <h5><%= t ".category" %></h5>
    <ul class="list_category pl-3 pt-2">
      <li class="py-1"><%= link_to t(".all_category"), stories_path %></li>
      <% @categories.each do |category| %>
        <li class="py-1"><%= link_to category.name, stories_path(category_id: category.id) %></li>
      <% end %>
    </ul>
    <h5><%= t ".status" %></h5>
    <ul></ul>
  </div>
  <div class="col-md-9">
    <table class="listext-table col-md-12 mb-5">
      <tr>
        <th><%= t ".story_name" %></th>
        <th><%= t ".category" %></th>
        <th><%= t ".status" %></th>
      </tr>
      <% @stories.each do |story| %>
        <tr>
          <td>
            <%= link_to story.name, story %><br/>
          </td>
          <td><%= story.category_info %></td>
          <td class="<%= story_progress story %>">
            <%= story.progress_info %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= paginate @stories, theme: "twitter-bootstrap-4" %>
  </div>
</div>
