<div class="row pt-4 pb-5">
  <h3 class="m-auto"><%= t ".add_story" %></h3>
</div>
<div class="row" id="background_font">
  <%= bootstrap_form_for @story, html: {class: "col-12"} do |f| %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.text_field :author_name, class: "form-control" %>
    <%= f.select :progress, progress_select_value_helper, class: "form-control" %><br/>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br/>
    <%= f.file_field :cover_image, accept: "image/jpeg,image/gif,image/png" %><br/>
    <%= f.label :description %>
    <%= f.cktext_area :description, class: "form-control" %>

    <%= f.submit t(".save_story"), class: "btn btn-primary mt-3 mb-5" %>
  <% end %>    
</div>
