<div class="row mt-3" id="background_font">
  <div class="col-md-4 p-3">
    <%= image_tag @story.cover_image.url if @story.cover_image? %>
  </div>
  <div class="col-md-8 p-3">
    <h5><%= time_ago_in_words @story.created_at %></h5>
    <h4><%= @story.name %></h4>
    <p><%= link_to @story.user.name, @story.user %>
    <p class="pl-3"><%= @story.description %></p>
  </div>
</div>
<div id="section-like-follow" class="row py-3 mt-5">
  <% if logged_in? %>
    <% if @story.current_user_liked current_user %>
      <%= render "likes/dislike" %>
    <% else %>
      <%= render "likes/like" %>
    <% end %>
  <% end %>
</div>

<div class="row mt-5" id="background_font">
  <div class="col-md-4 p-3" >
    <h4><%= t ".more_information" %></h4>
    <p><%= t ".author" %>: <%= link_to @story.author_name, "#" %></p>
    <p><%= t ".progress" %>: <%= @story.progress_info %></p>
    <p><%= t ".categories" %>: <%= @story.category_info %></p>
  </div>
  <div class="col-md-8 p-3">
    <h4><%= t ".chapters" %></h4>
    <ul>
      <% @story.chapters.each do |chapter| %>
        <li><%= link_to chapter.name, chapter %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if logged_in? %>
  <div class="row mt-5" id="background_font">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="comment_form">
        <%= render "shared/comment_form" %>
      </section>
    </aside>
    <div class="comments col-md-8 " id="form_comments" >
      <h3><%= t "comment"%></h3>
      <%= render @comments %>
    </div>
    <%= paginate @comments, theme: "twitter-bootstrap-4" %>
  </div>
<% end %>
