<div class="row mt-3" id="background_font">
  <div class="col-md-4 p-3">
    <%= image_tag @story.cover_image.url if @story.cover_image? %>
  </div>
  <div class="col-md-8 p-3">
    <h5><%= time_ago_in_words @story.created_at %></h5>
    <h4><%= @story.name %></h4>
    <p><%= link_to @story.user.name, @story.user %>
    <p class="pl-3"><%= sanitize @story.description %></p>
    <% if logged_in? && current_user.current_user?(@story.user) %>
      <%= link_to t(".edit"), edit_story_path, class: "btn btn-primary", role: "button"%>
    <% end %>
  </div>
</div>
<div id="section-like-follow" class="row py-3 mt-5 title">
  <% if logged_in? && !current_user.current_user?(@story.user) %>
    <% if @story.current_user_liked current_user %>
      <%= render "likes/dislike" %>
    <% else %>
      <%= render "likes/like" %>
    <% end %>
  <% else %>
    <span><%= pluralize @story.count_like, t(".like") %></span>
  <% end %>
</div>

<div class="row mt-5" id="background_font">
  <div class="col-md-4 p-3" >
    <h4><%= t ".more_information" %></h4>
    <p><%= t ".author" %>: <%= link_to @story.author_name, "#" %></p>
    <p><%= t ".progress" %>: <%= @story.progress_info %></p>
    <p><%= t ".categories" %>: <%= @story.category_info %></p>
  </div>
  <div class="col-md-8 p-3">
    <h4><%= t ".chapters" %></h4>
    <ul>
      <% @story.chapters.each do |chapter| %>
        <li><%= link_to chapter.name, chapter %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if logged_in? %>
  <div class="row mt-5">
    <div class="col-7">
      <h3><%= t "comment"%></h3>
      <%= render "shared/comment_form" %>
      <div class="comments_section mt-4">
        <%= render "comments/comment_section" %>
      </div>
    </div>
  </div>
<% end %>
