<%= form_for @chapter, html: {class: "col-12"} do |f| %>
    <div><%= hidden_field_tag :story_id, @chapter.story_id %></div>

    <%= f.label :name, class: "mt-2" %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :progress, class: "mt-2" %><br/>
    <%= f.select :progress, progress_select_value_helper, class: "form-control" %><br/>

    <%= f.label :image, class: "mt-2" %><br/>
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %><br/>

    <%= f.label :content, class: "mt-2" %>
    <%= f.text_field :content, class: "form-control" %>

    <%= f.submit t("save_chapter"), class: "btn btn-primary mt-3 mb-5" %>
  <% end %>
