<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">NVStory</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to t(".home"), "#", class: "nav-link" %>           
          </li>
          <li class="nav-item">
            <%= link_to t(".category"), "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".list"), "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".search"), "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".help"), "#", class: "nav-link" %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li class="dropdown mt-2">
              <%= link_to t(".account"), "#", class: "dropdown-toggle", data: {toggle: "dropdown"} %>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(".profile"), "#" %></li>
                <li><%= link_to t(".settings"), "#" %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t(".log_out"), logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item navbar-right">
              <%= link_to t(".sign_up"), signup_path, class: "nav-link" %>
            </li>
            <li class="nav-item navbar-right">
              <%= link_to t(".sign_in"), signin_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
</header>
