<!DOCTYPE html>
<html>
  <head>
    <title>RubyReadingStory01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render "layouts/rails_default" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div id="flash_message">
        <% flash.each do |message_type, message| %>
          <div class="row mt-3 alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
